@model BookWyrm.ViewModels.UsersIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Manage Accounts</h1>

@Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

@if (ViewBag.msg.Count > 0)
{
    <div class="info-box alert alert-info">
        @foreach (string msg in ViewBag.msg)
        {
            @msg
        }
    </div>
}

    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Promote User To Creator</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline"}))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Email", @class = "form-control" })


                    </div>
                    <input class="btn btn-default" type="submit" value="Promote" formaction="/Promote" />
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3>Demote Creator To User</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Email", @class = "form-control" })
                    </div>

                    <input class="btn btn-default" type="submit" value="Demote" formaction="/Demote" />
                }
            </div>
        </div>
    </div>
    





